body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    font-family: 'Jersey 10', serif;
    margin-top: 0;
}


.jersey-10-regular {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}
  

h1{
    text-align: center;
    color: white;
    font-size: 8vh;
    margin-top: 0;
    margin-bottom: 1vh;
}

h1:hover{
    color: yellow;
}

section{
    border: solid 1.5vh black;
    display: flex;
    flex-direction: column;
}



#clear, #start{
    margin-top: 3vh;
    border-radius: 3vh;
    width: 20vh;
    height: 6vh;
    margin: 2vh 2vh;
    margin-bottom: 0;
    font-size: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Jersey 10';
}


#clear:hover, #start:hover{
    background-color: yellow;
}

body div{
    display: flex;
    flex-direction: row;
}

section div div{
    width: 3vh;
    height: 3vh;
    border: solid 0.2vh rgba(255, 255, 255, 0.908);
    background-color: rgba(255, 255, 255, 0.748);
}



